@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --dark-main-bg-color: #2A2728;
    --dark-secondary-bg-color: #201D1E;
    --dark-font-color: #C0B7B1;
    --dark-primary-highlight: #C69C72;
    --dark-secondary-highlight: #8E6E53;
    --dark-terciary-highlight: #7A7265;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--dark-secondary-highlight);
    border-radius: 10px;
}