:root {
    --dark-main-bg-color: #2A2728;
    --dark-secondary-bg-color: #201D1E;
    --dark-font-color: #C0B7B1;
    --dark-primary-highlight: #C69C72;
    --dark-secondary-highlight: #8E6E53;
    --dark-terciary-highlight: #7A7265;
}